<%- include('header.ejs') %>

<section class="page-section bg-light" id="ads">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase"><%= __('Anuncios') %></h2>
      </div>
      <div class="row">
        <% if (error) {%>
          <div class="alert alert-danger text-center" role="alert">
            <p><%= error %></p>
          </div>
          <% } else { %>
          <% anuncios.forEach(anuncio => {%>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="img-container">
                      <img class="img-fluid" src="/assets/img/ads/<%=anuncio.foto %>" alt=<%= anuncio.nombre %> />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><%= anuncio.nombre %></div>
                        <div class="portfolio-caption-subheading text-muted"><% if (anuncio.venta) { %> <%= __('Se vende') %> <% } 
                          else { %> <%= __('Se compra') %> <%}  %></div>
                        <div class="portfolio-caption-subheading text-muted"><%= __('Categoria:') %>' <% anuncio.tags.forEach(tag => {%> <span> "<%= tag %>"</span>  <%}) %></div>
                        <div class="portfolio-caption-subheading text-muted"><%= __('Precio:') %> <%= anuncio.precio %>€</div>
                    </div>
                </div>
            </div>         
          <%}) %> <%} %>
      </div>
  </div>
</section>

<%- include('footer.ejs') %>
