<%- include('header.ejs') %>

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase"><%= __('Iniciar Sesi칩n') %></h2>
      </div>
      <form id="contactForm" method="post">
          <div class="row align-items-stretch mb-5 justify-content-center">
              <div class="col-md-6">
                  <div class="form-group">
                      <input class="form-control" id="email" name="email" type="email" placeholder="<%= __('Tu Email') %> *" value="<%=email %>" data-sb-validations="required,email" />
                      <div class="invalid-feedback" data-sb-feedback="email:required"><%= __('Email obligatorio.') %></div>
                      <div class="invalid-feedback" data-sb-feedback="email:email"><%= __('Email no v치lido.') %></div>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="password" name="password" type="password" placeholder="<%= __('Tu contrase침a') %> *" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="password:required"><%= __('Contrase침a obligatoria.') %></div>
                </div>
          </div>
          <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit"><%= __('Acceder') %></button></div>
      </form>
      <% if (error) {%>
        <div class="alert alert-danger text-center mt-4" role="alert">
          <p><%= error %></p>
        </div>
        <%} %>
  </div>
</section>

<%- include('footer.ejs') %>